*{
	margin:0;
	padding: 0;
}
html{
	background-image: url("graph/fondco.jpg");
	background-size: 100%;
	background-color: black;
	background-repeat: no-repeat;

}
body{
	background-color: rgba(0,0,0,0.8);
}

#center{
	position:absolute;
	left:50%;
	top:25%;
	width: 600px;
	margin-left: -300px;
	background-color: rgba(10,10,10,0.4);
	border-radius: 20px;
	box-shadow: 0px 0px 6px rgba(100,100,100,0.2);
	border :1px solid grey;
}
#center div{
	position: relative;
	left:50%;
	width: 300px;
	margin-left: -150px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
#center input ,#center #logo{
	width: 300px;
	margin: 5px;
}

#center input{
	border-radius: 5px;
	height: 40px;
	padding:10px;
	color: grey;
}

#pseudo , #pass{
	background-color: rgba(0,0,0,0.4);
	border: 2px solid black;
	box-shadow: 1px 1px 2px white;
	margin: 5px;
}

#connect{
	background-color: rgba(10,10,20,0.9);
	border: 1px solid grey;
	color: grey;
	text-transform: uppercase;
	font-weight: bolder;
	margin: 5px;

}
#connect:hover{
	border: 1px solid blue;
	color: white;
	text-shadow: 0px 0px 4px white;
	background-color: rgba(10,10,40,0.9);
}
#connect:active{
	box-shadow: 0px 0px 5px white;
	color:white;
	text-shadow: 0px 0px 4px blue;
	background-color: rgba(10,10,10,0.9);
}