*{
	
}

.button_menu{
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

body{
	background-color: rgb(230,230,230);
	min-height: 500px;
}
#content{
	min-width: 800px;
	min-height: 600px;
	background-color: rgba(255,255,255,0.7);
	border-radius: 4px;
	box-shadow: 0px 0px 3px grey;
	padding-top: 20px;
}

#contenu{
	padding: 30px;
	box-sizing: border-box;
	width: 79%;
	display: inline-block;
	height: 100%;
}
#menu{
	float: left;
	box-sizing: border-box;
	padding: 30px;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}

.blocfic{
	display: inline-block;
	margin-left: 15px;
	margin-top: 15px;
	width: 14%;
	text-align: center;
}
.fic{
	text-decoration: none;
	font:14px Tahoma, Helvetica, Arial, Sans-Serif;
	color: grey;
}
.file{
	display: block;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background-size: 100%;
	vertical-align: middle;
}

.file:not(div[class*="."]){background-image: url("./graph/txt.png");}
div[class$=".txt"]{background-image: url("./graph/txt.png");}
div[class$=".css"]{background-image: url("./graph/css.png");}
div[class$=".xml"]{background-image: url("./graph/xml.png");}
div[class$=".php"]{background-image: url("./graph/php.png");}
div[class$=".html"]{background-image: url("./graph/html.png");}
.folder{background-image: url("./graph/folder.png");}

#menu a{
	font:15px Tahoma, Helvetica, Arial, Sans-Serif;
	vertical-align: middle;
	color: grey;
	line-height: 30px;
	font-weight: bolder;
	text-transform: capitalize;
	font-style: none;
	text-decoration: none;
}
#menu>div{height: 20px;}
#menu>div:hover .add{background-image: url("./graph/addhover.png");}
#menu>div:hover .partage{background-image: url("./graph/sharehover.png");}
#menu>div:hover{text-shadow: 1px 1px 0px black;}

.partage,.add{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-size: 100%;
	vertical-align: middle;
}
.add{background-image: url("./graph/add.png");}
.partage{background-image: url("./graph/share.png");}

#chemin{
	border-radius: 3px;
	padding: 10px;
	border-bottom: 1px solid grey;
	font-weight: lighter;
	color: grey;
	font:14px Tahoma, Helvetica, Arial, Sans-Serif;
	margin-bottom: 20px
}
#retour{
	    margin: 0;
	    padding: 0;
	    line-height: 100%; /* Si ça fonctionne pas mets 0 */
	    border: 0;
	    background: none; /* ou transparent je sais plus... */
	    text-decoration: underline; /* Normalement */
	margin-right: 20px;
	display: inline-block;
	height:20px;width: 20px;
	vertical-align: middle;
	background-size: 100%;
	background-image: url("./graph/retour.png");
}
#retour:hover{
	cursor: pointer;
}